
nav{
    background-color: darkcyan;
    font-family: sans-serif;
    width: 100%;
    height: 5vh;
position: sticky;
}
ul li{
    float: left;
    margin:10px;
    /* border: 2px solid; */
    list-style: none;
    
}
ul li a {
    color: whitesmoke;
    text-decoration: none;
    width: 20px;

}
nav ul li a:hover{
    background:black
}

nav ul ul{
    position:absolute;
    top: 60px;
    display: none;
   
}
nav ul li:hover > ul{
    display: block;
    
}
nav ul ul li{
    float: none;
    width: 150px;
    display: list-item;
    position: relative;
    background: aqua;
    color: black;
}

.container{
    /* background-image: url(img2.jpg);
    background-size: cover;
    width: 99%; */

}
.container .gallery{
    /* width: 10rem; */
    /* height: 20vh; */
    
     
     grid-template-columns: auto auto auto auto;
}
.container .gallery img{
    width:20rem;

}
.sign{
    width: 37%;
    /* height: 40vh; */
    padding: 1rem;
    background:wheat;

}

.loginform{
    
    width: 37%;
    /* height: 40vh; */
    padding: 1rem;
    background: aqua;
}
input{
    padding: 0.6rem;
    margin: 1rem;
    width: 20rem;
}
button{
    width: 5rem;
    height: 10vh;
    border-radius: 3rem;
    background: #000;
    color: white;
}